body{
    background-image: url(https://images.alphacoders.com/102/thumb-1920-1026345.jpg);
    height: 800px;
    margin-top: -40px;
    padding-top: 50px;
}

.div {
    display: flex;
    justify-content: space-around;
    // background-color: rgb(214, 214, 207);
    height: 3em;
    width: 60%;
    border-bottom: 1px solid black;
    margin: auto;
}

.div h1{
    color: rgb(189, 185, 185);
    margin-left: -120px;
    margin-top: 9px;
    margin: auto;
}

.button {
    border: none;
    height: 60%;
    border-radius: 3px;
    justify-content: center;
    background-color: rgb(93, 157, 110);
}

.container {
    width: 42%;
    // border: 1px solid red;
    height: 550px;
    margin-top: 40px;
    box-shadow: 0 0 5px 5px;
    border-radius: 5px;
    background-image: url(https://images.alphacoders.com/102/thumb-1920-1026345.jpg);
    padding: 2%;
}

.form{
    // border: 1px solid red;
    margin: auto;
    height: 60%;
    margin-top: 5%;
    align-items: center;
    width: 70%;
}
.form label{
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 10px;
    color: gray;
}
.form input{
    border: 0rem;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
    border-radius: none;
    outline: none;
    background-image: url(https://getwallpapers.com/wallpaper/full/a/6/9/1156620-hd-gradient-wallpapers-3840x2160-for-mac.jpg);
    padding: 10px;
}
.form button{
    background-color: black;
    width: 100%;
    font-weight: bolder;
    padding: 10px;
    margin-top: 30px;
}