.div {
    display: flex;
    justify-content: space-around;
    background-color: teal;
    border-radius: 5px;
    height: 3em;
    align-items: center;
    width: 100%;
    color: rgb(42, 38, 38);
}