<div class="main">
    <div class="div">
        <h1><u>Atino Technology</u></h1>
        <button class="button" (click)="adminLogin()">Admin Login</button>
        <button class="button" (click)="userLogin()">User Login</button>
    </div>
    <div class="mid-div">
        <div class="div2">
            <div class="web-div">
                <h1 class="web">Web Design</h1>
                <h4 class="land">LANDING PAGE</h4>
            </div>
            <img class="img"  src="https://www.jing.fm/clipimg/detail/365-3658801_website-design-development-website-illustration-design-png.png" alt="">
        </div>
    </div>
</div>