body {
    height: 800px;
    margin-top: -40px;
    padding-top: 50px;
    background-image: url(https://th.bing.com/th/id/R.4b11736a517898a9d6a4459d75f01880?rik=4ky42GozEdn6BA&riu=http%3a%2f%2fcdn.wallpapersafari.com%2f85%2f9%2fNCjHgX.jpg&ehk=nxjXaEYb2z3d3M00Kefp3Nikci0US3jGv5ty7wR5f5k%3d&risl=&pid=ImgRaw&r=0);
}

.div {
    display: flex;
    justify-content: space-around;
    background-image: url(https://th.bing.com/th/id/R.4b11736a517898a9d6a4459d75f01880?rik=4ky42GozEdn6BA&riu=http%3a%2f%2fcdn.wallpapersafari.com%2f85%2f9%2fNCjHgX.jpg&ehk=nxjXaEYb2z3d3M00Kefp3Nikci0US3jGv5ty7wR5f5k%3d&risl=&pid=ImgRaw&r=0);
    height: 5em;
    align-items: center;
    color: rgb(32, 32, 30);
    width: 100%;
    margin-top: 0;
    border-bottom: 2px solid black;
}

.div h1:hover {
    cursor: pointer;
}

.button {
    border: none;
    height: 40%;
    border-radius: 10px;
    justify-content: center;
    color: rgb(29, 27, 27);
    font-size: 20px;
    width: 8em;
    background-image: url(https://th.bing.com/th/id/R.4b11736a517898a9d6a4459d75f01880?rik=4ky42GozEdn6BA&riu=http%3a%2f%2fcdn.wallpapersafari.com%2f85%2f9%2fNCjHgX.jpg&ehk=nxjXaEYb2z3d3M00Kefp3Nikci0US3jGv5ty7wR5f5k%3d&risl=&pid=ImgRaw&r=0);
    border-bottom: 1px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: wheat;
}

.table {
    align-items: center;
    text-align: center;
    margin-top: 40px;
    border: 1px solid black;
}

td{
    border: 1px solid black;
    color: antiquewhite;

}

th{
    background-image: url(https://th.bing.com/th/id/R.4b11736a517898a9d6a4459d75f01880?rik=4ky42GozEdn6BA&riu=http%3a%2f%2fcdn.wallpapersafari.com%2f85%2f9%2fNCjHgX.jpg&ehk=nxjXaEYb2z3d3M00Kefp3Nikci0US3jGv5ty7wR5f5k%3d&risl=&pid=ImgRaw&r=0);
color: antiquewhite;
}

.del{
    background-image: url(https://th.bing.com/th/id/OIP.tMFmTAeh2Zo21jCpxFm3xwHaEK?w=275&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7);
    margin-left: -20px;
    width: 5em;
}

.yel{
    background-image: url(https://th.bing.com/th/id/OIP.KUltRRXqsC4CkQwwyF5KAQHaKi?w=121&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7);
    width: 5em;
    margin-left: 10px;
}

